/*.code-workspace
/tables
/.vscode
/doc/~*
/datasul2Protheus/tables/*.csv
/datasul2Protheus/tables/*.xlsx
/datasul2Protheus/tables/*.p
/datasul2Protheus/tables/*.202309011145
/datasul2Protheus/tables/*.202309211545
/datasul2Protheus/tables
